.form {
    display: flex;
    justify-content: center;
}

.programmer-card {
    margin: 2em;
    max-width: 400px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-title, .card-action {
    margin-bottom: 1em;
}

.card-action {
    margin-left: 1em;
}